:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #f5f5f5;
  --secondary-white-color: #f5f4fa;
  --white-bg-color: #ffffff;
  --dark-bg-color: #2f303a;
  --blue-bg-color: #2196f3;
  --bg-btn-color: #188ce8;
  --icon-primary-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background: var(--white-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

/* Утилиты */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.what-we-are-doing {
  padding-top: 0;
}

:focus {
  outline: none;
}

/* Навигація */

.page-header {
  border-bottom: 1px solid #ececec;
}

.container-navigation {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #000000;
}

.accent {
  color: var(--blue-bg-color);
}

.site-nav {
  margin-left: 93px;
}

.site-nav.list {
  display: flex;
}

.site-nav .items + .items {
  margin-left: 50px;
}

.site-nav .items {
  position: relative;
}

.current::after {
  position: absolute;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  background: var(--blue-bg-color);
  border-radius: 2px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  transition: color 250ms var(--timing-function);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--blue-bg-color);
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts.list {
  display: flex;
  margin-left: auto;
}

.contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);

  transition: color 250ms var(--timing-function);
}

.contacts.list .item + .item {
  margin-left: 50px;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--blue-bg-color);
}

.contacts .number {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.icon-header {
  display: flex;
  align-items: center;

  margin-right: 10px;

  fill: var(--secondary-text-color);
  transition: fill 250ms var(--timing-function);
}

.contacts .link:hover .icon-header {
  fill: var(--blue-bg-color);
}

.contacts .link:focus .icon-header {
  fill: var(--blue-bg-color);
}

.link {
  text-decoration: none;
}

.contacts .link {
  display: flex;
  align-items: center;
}

/* герой */

.hero {
  background-color: var(--dark-bg-color);
  color: var(--white-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;

  max-width: 1600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  color: var(--white-bg-color);

  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.button.primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  font-family: inherit;
  text-align: center;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;

  background-color: var(--blue-bg-color);
  color: var(--white-bg-color);

  transition: background-color 250ms var(--timing-function);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--bg-btn-color);
}

/* Особливості */

.list {
  display: flex;
}

.list .item + .item {
  margin-left: 30px;
}

.list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);

  margin-top: 0;
  margin-bottom: 10px;
}

.list-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);

  margin-top: 0;
  margin-bottom: 0;
}

.icon-peculiarities-box {
  display: flex;
  align-items: center;

  width: 270px;
  height: 120px;
  background-color: var(--secondary-white-color);
  margin-bottom: 30px;
}

.icon-peculiarities {
  margin-left: auto;
  margin-right: auto;
}

/* Чим ми займаемось */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--primary-text-color);

  margin-top: 0;
  margin-bottom: 50px;
}

.images-thumb {
  position: relative;
}

.orerlay-what-we-are-doiing {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.text-what-we-are-doing {
  position: absolute;
  bottom: 27px;
  left: 50%;
  transform: translate(-50%);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-bg-color);
  margin: 0;
  padding: 0;
}

/* Наша команда */

.our-team {
  background-color: var(--secondary-white-color);

  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 0;
  margin-bottom: 0;
}

.our-team-item + .our-team-item {
  margin-left: 30px;
}

.our-team-item {
  background-color: var(--white-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.photo-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);

  margin-top: 0;
  margin-bottom: 10px;
}

.photo-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);

  margin-top: 0;
  margin-bottom: 0;
}

.our-team-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-media .link + .link {
  margin-left: 10px;
}

.networks {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background 250ms var(--timing-function);
}

.icon-our-team {
  fill: var(--icon-primary-color);

  margin-left: auto;
  margin-right: auto;

  transition: fill 250ms var(--timing-function);
}

.networks:hover,
.networks:focus {
  background: var(--blue-bg-color);
}

.networks:hover .icon-our-team,
.networks:focus .icon-our-team {
  fill: var(--white-bg-color);
}

/* Наші проекти */

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.projects-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.projects-link {
  text-decoration: none;
}

/* Постійні клієнти */

.clients {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.clients .item + .item {
  margin-left: 30px;
}

.icon-clients {
  fill: var(--icon-primary-color);

  margin-left: auto;
  margin-right: auto;

  transition: fill 250ms var(--timing-function);
}

.clients-icon-box {
  display: flex;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-primary-color);
  border-radius: 4px;

  transition: border 250ms var(--timing-function);
}

.clients-icon-box:hover,
.clients-icon-box:focus {
  border: 1px solid var(--blue-bg-color);
}

.clients-icon-box:hover .icon-clients,
.clients-icon-box:focus .icon-clients {
  fill: var(--blue-bg-color);
}

/* Футер */

.footer {
  background-color: var(--dark-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer {
  display: flex;
  align-items: baseline;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo-footer {
  display: block;

  color: #000000;
  color: var(--white-bg-color);

  text-decoration: none;

  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  display: flex;
}

.icon-footer {
  fill: var(--white-bg-color);

  margin-left: auto;
  margin-right: auto;
}

.icon-container {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  transition: background 250ms var(--timing-function);
}

.icon-container:hover,
.icon-container:focus {
  background: var(--blue-bg-color);
}

.footer-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-item + .footer-item {
  margin-top: 9px;
}

.footer-link:not(:last-child) {
  margin-bottom: 10px;
}

.address-a {
  color: var(--white-bg-color);

  text-decoration: none;
  margin-bottom: 10px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--blue-bg-color);
}

.icon-list {
  display: flex;
  margin: 0px;
  padding: 0;
  list-style: none;
}

.icon-footer-title {
  margin: 0;
  margin-right: auto;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-bg-color);
}

.icon-footer-container {
  margin-left: 70px;
}

.icon-list .item + .item {
  margin-left: 10px;
}

img {
  display: block;
}

/* Портфолио */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.portfolio-main {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 94px;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.list-btn {
  display: flex;
  justify-content: center;
  list-style: none;

  padding: 0;
  margin-top: 0;
  margin-bottom: 50px;
}

.list-btn .item + .item {
  margin-left: 8px;
}

/* кнопки портфоліо */
.button.secondary {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;

  background-color: var(--secondary-white-color);
  color: var(--primary-text-color);

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--blue-bg-color);
  color: var(--white-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Портфоліо карточки */

.project-images-thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.item.project:hover .project-overlay {
  transform: translateY(0);
}

.project-images-text {
  position: absolute;
  top: 63px;
  left: 24px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-bg-color);

  width: 322px;
  height: 168px;
}

.list-portfolio {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.item.project {
  position: relative;

  transition: box-shadow 250ms var(--timing-function);
}

.projects-link {
  box-sizing: border-box;
}
.item.project:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list-portfolio .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.list-portfolio .item:nth-child(3n) {
  margin-right: 0px;
}

.list-portfolio .item {
  margin-bottom: 30px;
}

.list-portfolio .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-link {
  box-sizing: border-box;
}

.projects-title {
  margin-top: 0;
  margin-bottom: 4px;
}

.projects-text {
  margin: 0;
}

.card-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;

  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

/* Модальное Окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}

.form-modal {
  width: 448px;
}

.form-text-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.form-filed-modal {
  position: relative;
  margin-bottom: 28px;
  display: block;
  transition: border 250ms var(--timing-function);
}

.form-filed-modal:focus {
  border: 1px solid var(--blue-bg-color);
}

.form-label-modal {
  position: absolute;
  top: -50%;
  left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.form-input-modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}

.form-input-modal:focus {
  border: 1px solid var(--blue-bg-color);
}

.form-input-modal[placeholder=" "] {
  padding-left: 40px;
}

.icon-modal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms var(--timing-function);
}

.form-filed-modal:focus-within .icon-modal {
  fill: var(--blue-bg-color);
}

.form-filed-modal-comment {
  position: relative;
  display: block;
}

.form-label-modal-comment {
  position: absolute;
  top: -15%;
  left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.form-textarea-modal {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 0;
}

.form-textarea-modal[placeholder="Введіть текст"] {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

  padding-left: 16px;
  padding-top: 12px;
  padding-right: 15px;
}

.form-textarea-modal:focus {
  border: 1px solid var(--blue-bg-color);
}

.form-checkbox-modal {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-left: 10px;
}

.input-checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.icon-border-checkbox {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  opacity: 1;
}

.icon-checkbox {
  position: absolute;
  opacity: 0;
}

.input-checkbox:checked ~ .icon-checkbox {
  opacity: 1;
}

.input-checkbox:checked ~ .icon-border-checkbox {
  opacity: 0;
}

.label-checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);

  padding-left: 25px;
}

.label-checkbox-link {
  color: var(--blue-bg-color);
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--white-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  display: block;
  padding: 10px 50px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  background: var(--blue-bg-color);
  color: var(--white-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.modal-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms var(--timing-function);
}

.modal-btn-close:hover .modal-svg,
.modal-btn-close:focus .modal-svg {
  fill: var(--blue-bg-color);
}

/* форма футер */

.form-footer {
  margin-left: auto;
}

.form-filed {
  position: relative;
  margin-right: 12px;
}

.form-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-bg-color);
}

.form {
  margin-top: 20px;
}

.form-input {
  position: relative;
  width: 358px;
  height: 50px;
  background: var(--dark-bg-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.form-input[placeholder="E-mail"] {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  padding-left: 16px;
}

.form-btn {
  padding: 10px 28px;
  height: 50px;

  background: var(--blue-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.form-btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  width: 144px;
  height: 30px;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  color: var(--white-bg-color);
}

.icon-form-footer {
  margin-left: 8px;
}
