:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #f5f5f5;
  --secondary-white-color: #f5f4fa;
  --white-bg-color: #ffffff;
  --dark-bg-color: #2f303a;
  --blue-bg-color: #2196f3;
  --bg-btn-color: #188ce8;
  --icon-primary-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background: var(--white-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

/* Утилиты */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.activities__title,
.our__team__title,
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--primary-text-color);

  margin-top: 0;
  margin-bottom: 50px;
}

.activities {
  padding-top: 0;
}

.quality__list,
.activities__list,
.our__team__list {
  display: flex;
}

:focus {
  outline: none;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}
/* Навигація */

.page__header {
  border-bottom: 1px solid #ececec;
}

.container__navigation {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #000000;
}

.accent {
  color: var(--blue-bg-color);
}

.navigation__list {
  display: flex;
  margin-left: 93px;
}

.navigation__item {
  position: relative;
}

.navigation__item + .navigation__item {
  margin-left: 50px;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  transition: color 250ms var(--timing-function);
}

.navigation__link:hover,
.navigation__link:focus,
.navigation__link.current {
  color: var(--blue-bg-color);
}

.current::after {
  position: absolute;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  background: var(--blue-bg-color);
  border-radius: 2px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);

  transition: color 250ms var(--timing-function);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--blue-bg-color);
}

.contacts__icon {
  display: flex;
  align-items: center;

  margin-right: 10px;

  fill: var(--secondary-text-color);
  transition: fill 250ms var(--timing-function);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--blue-bg-color);
}

/* герой */

.hero {
  background-color: var(--dark-bg-color);
  color: var(--white-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;

  max-width: 1600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  color: var(--white-bg-color);

  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.button.primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  font-family: inherit;
  text-align: center;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;

  background-color: var(--blue-bg-color);
  color: var(--white-bg-color);

  transition: background-color 250ms var(--timing-function);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--bg-btn-color);
}

/* Особливості */

.quality__item + .quality__item {
  margin-left: 30px;
}

.quality__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);

  margin-top: 0;
  margin-bottom: 10px;
}

.quality__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);

  margin-top: 0;
  margin-bottom: 0;
}

.quality__icon--box {
  display: flex;
  align-items: center;

  width: 270px;
  height: 120px;
  background-color: var(--secondary-white-color);
  margin-bottom: 30px;
}

.quality__icon {
  margin-left: auto;
  margin-right: auto;
}

/* Чим ми займаемось */

.activities__list {
  display: flex;
}

.activities__item + .activities__item {
  margin-left: 30px;
}

.activities__thumb {
  position: relative;
}

.activities__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.activities__text {
  position: absolute;
  bottom: 27px;
  left: 50%;
  transform: translate(-50%);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-bg-color);
  margin: 0;
  padding: 0;
}

/* Наша команда */

.our__team {
  background-color: var(--secondary-white-color);

  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 0;
  margin-bottom: 0;
}

.our__team__item {
  background-color: var(--white-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.our__team__item + .our__team__item {
  margin-left: 30px;
}

.photo__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);

  margin-top: 0;
  margin-bottom: 10px;
}

.photo__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);

  margin-top: 0;
  margin-bottom: 0;
}

.photo__thumb {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social__media {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social__media .link + .link {
  margin-left: 10px;
}

.social__media__networks {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background 250ms var(--timing-function);
}

.social__media__icon {
  fill: var(--icon-primary-color);

  margin-left: auto;
  margin-right: auto;

  transition: fill 250ms var(--timing-function);
}

.social__media__networks:hover,
.networks:focus {
  background: var(--blue-bg-color);
}

.social__media__networks:hover .social__media__icon,
.social__media__networks:focus .social__media__icon {
  fill: var(--white-bg-color);
}

/* Постійні клієнти */

.clients__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__icon {
  fill: var(--icon-primary-color);

  margin-left: auto;
  margin-right: auto;

  transition: fill 250ms var(--timing-function);
}

.clients__link {
  display: flex;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-primary-color);
  border-radius: 4px;

  transition: border 250ms var(--timing-function);
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--blue-bg-color);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--blue-bg-color);
}

/* Футер */

.footer {
  background-color: var(--dark-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer__logo {
  display: block;

  color: #000000;
  color: var(--white-bg-color);

  text-decoration: none;

  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  display: flex;
}

.address__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.address__item + .address__item {
  margin-top: 9px;
}

.address__link--mod {
  color: var(--white-bg-color);

  text-decoration: none;
  margin-bottom: 10px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}

.address__link:not(:last-child) {
  margin-bottom: 10px;
}

.address__link:hover,
.address__link:focus {
  color: var(--blue-bg-color);
}

.footer__icon__title {
  margin: 0;
  margin-right: auto;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-bg-color);
}

.footer__icon__list {
  display: flex;
  margin: 0px;
  padding: 0;
  list-style: none;
}

.footer__icon__item + .footer__icon__item {
  margin-left: 10px;
}

.container__footer__icon {
  margin-left: 70px;
}

.footer__icon {
  fill: var(--white-bg-color);

  margin-left: auto;
  margin-right: auto;
}

.footer__icon__link {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  transition: background 250ms var(--timing-function);
}

.footer__icon__link:hover,
.footer__icon__link:focus {
  background: var(--blue-bg-color);
}

/* форма футер */

.container__footer__form {
  margin-left: auto;
}

.form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-bg-color);
}

.form {
  margin-top: 20px;
}

.form__label {
  position: relative;
  margin-right: 12px;
}
.form__input {
  position: relative;
  width: 358px;
  height: 50px;
  background: var(--dark-bg-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.form__input[placeholder="E-mail"] {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  padding-left: 16px;
}

.form__btn {
  padding: 10px 28px;
  height: 50px;

  background: var(--blue-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.form__btn__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  width: 144px;
  height: 30px;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  color: var(--white-bg-color);
}

.form__btn__icon {
  margin-left: 8px;
}

/* Модальное Окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}

.modal__form {
  width: 448px;
}

.modal__form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.modal__form__label {
  position: relative;
  margin-bottom: 28px;
  display: block;
  transition: border 250ms var(--timing-function);
}

.modal__form__text:focus {
  border: 1px solid var(--blue-bg-color);
}

.modal__form__text {
  position: absolute;
  top: -50%;
  left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.modal__form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}

.modal__form__input:focus {
  border: 1px solid var(--blue-bg-color);
}

.modal__form__input[placeholder=" "] {
  padding-left: 40px;
}

.modal__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms var(--timing-function);
}

.modal__form__label:focus-within .modal__icon {
  fill: var(--blue-bg-color);
}

.modal__form__label--comment {
  position: relative;
  display: block;
  transition: border 250ms var(--timing-function);
}

.modal__form__text--comment {
  position: absolute;
  top: -15%;
  left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.modal__form__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 0;
}

.modal__form__textarea[placeholder="Введіть текст"] {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

  padding-left: 16px;
  padding-top: 12px;
  padding-right: 15px;
}

.modal__form__textarea:focus {
  border: 1px solid var(--blue-bg-color);
}

.modal__form__checkbox {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-left: 10px;
}

.modal__input__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox__icon__border {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  opacity: 1;
}

.checkbox__icon {
  position: absolute;
  opacity: 0;
}

.modal__input__checkbox:checked ~ .checkbox__icon {
  opacity: 1;
}

.modal__input__checkbox:checked ~ .checkbox__icon__border {
  opacity: 0;
}

.modal__checkbox__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);

  padding-left: 25px;
}

.modal__checkbox__link {
  color: var(--blue-bg-color);
}

.modal__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  display: block;
  padding: 10px 50px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  background: var(--blue-bg-color);
  color: var(--white-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.modal__btn__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--white-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn__close__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms var(--timing-function);
}

.modal__btn__close:hover .btn__close__icon,
.modal__btn__close:focus .btn__close__icon {
  fill: var(--blue-bg-color);
}

/* Портфолио */

.visually__hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn__list {
  display: flex;
  justify-content: center;
  list-style: none;

  padding: 0;
  margin-top: 0;
  margin-bottom: 50px;
}

.btn__item + .btn__item {
  margin-left: 8px;
}

/* кнопки портфоліо */
.button__secondary {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;

  background-color: var(--secondary-white-color);
  color: var(--primary-text-color);

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.button__secondary:hover,
.button__secondary:focus {
  background-color: var(--blue-bg-color);
  color: var(--white-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.projects__item {
  position: relative;

  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms var(--timing-function);
}

.projects__item:nth-child(3n) {
  margin-right: 0px;
}

.projects__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects__item:hover .projects__overlay {
  transform: translateY(0);
}
.projects__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.projects__overlay__text {
  position: absolute;
  top: 63px;
  left: 24px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-bg-color);

  width: 322px;
  height: 168px;
}

.projects__card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;

  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects__card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.projects__card__title {
  margin-top: 0;
  margin-bottom: 4px;
}

.projects__card__text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.projects__card__text {
  margin: 0;
}
